<nav class="navbar mx-5">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Manuela Puerta</a>
        <ul class="d-flex">
            <li class="nav-item">
                <a class="nav-link text-light">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="'/real-state'">Real State</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Pricing</a>
            </li>
        </ul>
    </div>
</nav>