<nav class="navbar mx-5">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Manuela Puerta</a>
        <ul class="d-flex">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/inicio'">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/about-me'">Acerca de mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/real-state'">Real State</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/real-state'">Índices sintéticos</a>
            </li>
        </ul>
    </div>
</nav>