<section>
    <div class="container text-light">
        <div class="row p-5">
            <div class="col-lg-6">
                <h2>Misión</h2>
                <p>Nuestra misión es proporcionar a nuestros inversores las herramientas y la orientación necesarias para alcanzar sus objetivos financieros de manera efectiva y segura. Te brindaré:
                    <ul>
                        <li>Educación y Empoderamiento: Facilitar el acceso a información financiera valiosa y recursos educativos que capaciten a nuestros clientes para tomar decisiones informadas.</li>
                        <li>Innovación y Oportunidades: Buscar constantemente oportunidades de inversión innovadoras que se adapten a las necesidades cambiantes de nuestros clientes y al panorama financiero global.</li>
                        <li>Transparencia y Confianza: Construir relaciones basadas en la confianza, proporcionando transparencia en todas nuestras operaciones y comunicaciones.</li>
                        <li>Asesoramiento Personalizado: Ofrecer asesoramiento individualizado y un equipo de expertos en inversiones dedicados para guiar a cada cliente en su viaje financiero.</li>
                        <li>Seguridad y Protección: Priorizar la seguridad y la protección de los activos de nuestros clientes a través de medidas de seguridad.</li>
                    </ul>
            </div>
            <div class="col-lg-6">
                Imagen
            </div>
        </div>
        <div class="row p-5">
            <div class="col-lg-6">
                Imagen
            </div>
            <div class="col-lg-6">
                <h2>Visión</h2>
                <p>En nuestra búsqueda de la excelencia financiera, imaginamos un mundo donde tus sueños y metas se hacen realidad a través de inversiones inteligentes. <br> Nuestra visión es ser el faro de confianza y crecimiento en tu viaje financiero, ofreciéndote oportunidades innovadoras y un camino claro hacia un futuro próspero.
                    Visualizamos un mundo en el que cada inversor encuentra el éxito, donde cada decisión financiera es informada y segura. Con nuestro compromiso de brindarte soluciones de inversión de vanguardia y un servicio excepcional, estamos construyendo ese futuro contigo.
                    Juntos, transformaremos tus aspiraciones en logros financieros sólidos.</p>
            </div>
        </div>
    </div>
</section>